body {
    padding-top: 20px;
    background-image: url("../images/pic2.png");
}

#loading {
    text-align: center;
    background: url(../images/tts-loading.gif);
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#uberlogo,
#lyftlogo,
#carlogo {
    float: left;
}

#rydeIcon {
    max-width: 100%;
}

/*#button{*/

/*    width: 150px;*/

/*    margin: auto;*/

/*}*/

#main {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #dfdfdf;
    background-color: #9500ba;
    padding: 15px;
    border: 2px solid #1e1e1e;
}

/*20a599  9500ba */

#display {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #dfdfdf;
    overflow: auto;
    padding: 30px 25px 45px 25px;
    background-color: #9500ba;
    border: 2px solid #1e1e1e;
    /*height: 130px*/
}

#ubercost,
#uberETA,
#lyftcost,
#lyftETA,
#carETA,
#gascost {
    color: #FFD05C;
}

#header {
    border-radius: 5px;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: #dfdfdf;
    background-color: #9500ba;
    padding: 15px;
    border: 2px solid #1e1e1e;
}


#reset,
#submit {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

#submit:hover {
    border-color: #dfdfdf;
}

.container {
    max-width: 700px;
}

#message {
    margin-left: 5px;
    font-size: 15px;
    text-decoration: oblique;
}

/*#resetButton,
*/

/*#uberdisplay,*/

/*#lyftdisplay,*/

/*#cardisplay,*/

#address {
    text-align: center;
}

.form-control {
    background-color: #dfdfdf;
}

/*----------------------Focus Option 1------------------------*/

.form-control:focus {

    background-color: #FFD05C;

}

.form-control:focus {

    border-color: #09b276;

    border-width: 1.5px;

}

.form-control:-webkit-autofill {

    -webkit-box-shadow: 0 0 0 30px #FFD05C inset;

}

/*----------------------Focus Option 2-----------------------*/

/*.form-control:focus {*/

/*    border-color: #FFD05C;*/

/*    border-width: 2px;*/

/*}*/

/*.form-control:-webkit-autofill {*/

/*    -webkit-box-shadow: 0 0 0 30px white inset;*/

/*}*/

/*-------------------------------------------------------*/

#generalInfo {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: #FFD05C;
}

.icon {
    height: 64px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.dropdown {
    float: left;
    margin: 20px 20px 20px 0px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#carETA {
    font-weight: normal;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

#orange {
    color: #FFD05C;
}
